<h1>PDF Scrape</h1>

In [1]:
# !pip install PyPDF2
# !pip install textract
# pip install tabula-py
# !pip install nltk
# !pip install camelot-py[all]
## for camelot need to install GPL GhostScript(Google it) for it to run,require admin permission to install camelot

In [5]:
import PyPDF2 as p2
import os
import camelot
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import time, sys
import shutil
import re

In [6]:
# make folder to save csv files
f not os.path.isdir('uncleaned csv'):
    os.makedirs('uncleaned csv')

#### Extract PDF and save in csv
The function below will try to extract the table of the pdf files base on the keyword, if able to find the page page and extracted the tables save it in the directory,it will return True else return False

In [6]:
def save_shareholder_to_csv(pdf_file_path , company_name):
    if not os.path.isdir('shareholder'):
        os.makedirs('shareholder')
        
    try:
#       directory to save the extracted tables
        directory = "./uncleaned csv/"
        print(pdf_file_path+"\n")
        PDFFile = open(pdf_file_path, "rb")
        pdfread = p2.PdfFileReader(PDFFile)

#       list of word to search
        search_word_list1 = ["TWENTY" ,"LARGEST" ,"SHAREHOLDERS"]
        
        search_word_list2 = ["TOP" , "20" , "SHAREHOLDERS"]
        search_word_list3 = ["TOP" , "TWENTY", "SHAREHOLDERS"]
        search_word_list4 = ["20" , "LARGEST", "SHAREHOLDERS"]
        search_word_list5 = ["TWENTY", "LARGEST", "UNITHOLDERS"]
        search_word_list6 = ["20", "LARGEST", "UNITHOLDERS"]
        search_word_list7 = ["TOP","TWENTY", "UNITHOLDERS"]
        search_word_list8 = ["TOP","20","UNITHOLDERS"]
        search_word_list9 = ["","MAJOR","SHAREHOLDERS"]
        
        
        whole_list = []
        whole_list.extend((search_word_list1,search_word_list2 ,search_word_list3,
                           search_word_list4,search_word_list5,search_word_list6,
                           search_word_list7,search_word_list8,search_word_list9
                          ))
        print(whole_list)
        for partial_list in whole_list:

            search_word1 = partial_list[0]
            search_word2 = partial_list[1]
            search_word3 = partial_list[2]


            number_of_pages = pdfread.getNumPages()
            print("\n..............\n")
#             loop through the whole page in the pdf
            for i in range(number_of_pages):
                sys.stdout.write("\rpage : %d /%d" % (i,number_of_pages) )
                sys.stdout.flush()
                search_word_count_1 = 0
                search_word_count_2 = 0
                search_word_count_3 = 0

                if pdfread.getPage(i).getContents() == None:
                    i = i + 1
                    continue
                pageinfo = pdfread.getPage(i)
                text = pageinfo.extractText()
                text = text.upper()
                text = text.replace("\n", "")
                search_text = text.upper().split()

                # if text not empty set text else continue next page
                if text != "":
                    text = text

                else:
                    continue
                    
                #The word_tokenize() function will break our text phrases into #individual words
                tokens = word_tokenize(text)
                #we'll create a new list which contains punctuation we wish to clean
                punctuations = ['(',')',';',':','[',']',',']
                #We initialize the stopwords variable which is a list of words like #"The", "I", "and", etc. that don't hold much value as keywords
                stop_words = stopwords.words('english')
                #We create a list comprehension which only returns a list of words #that are NOT IN stop_words and NOT IN punctuations.
                keywords = [word for word in tokens if not word in stop_words and not word in punctuations]
                  
#                 if word matches the search word add counter
                for word in keywords:
                        if search_word1 in word:
                            search_word_count_1 += 1

                        if search_word2 in word:
                            search_word_count_2 += 1

                        if search_word3 in word:
                            search_word_count_3 += 1

#  if the 3 search word have at least 1 count we try to extract the table

                if(search_word_count_1>0 and search_word_count_2>0 and search_word_count_3>0):
                    search_word_count_total = search_word_count_1  + search_word_count_2 + search_word_count_3 
#                     display(keywords)
                    page = i + 1
                    print("page " + str(page))
                    print("The words was found {} times in total".format(search_word_count_total))
                    df = camelot.read_pdf(pdf_file_path,pages=str(page),flavor="stream",edge_tol=500)
        #             camelot.plot(df[0], kind='contour')
                    for n in df:
                        current_df = n.df
                        for i in current_df:
                            current_df[i] = current_df[i].str.upper()
                        table_dataframe = current_df
                        index = None
                        searchfor = [search_word2,search_word3]
                        
#                         check for the correct table
                        if(current_df[0].str.contains('|'.join(searchfor)).any() | current_df[1].str.contains('|'.join(searchfor)).any()):
                            print("table found")
                        else:
                            display(current_df)
                            continue
                        col_index=""
                        for column in current_df:
                            print("search col")
                            if current_df[column].str.contains("NAME").any():
                                print("have name")
                                col_index = current_df.index[current_df[column].str.contains("NAME")]

                            if len(col_index) != 0:
                                index = col_index[0].item()
                                print("index : " + str(index)) 
                        if index == None:
                            print("unable to find index")
                            continue                    
        #                 if(current_df[0].str.contains("TWENTY LARGEST SHAREHOLDERS").any()):
        #                     table_dataframe = current_df
        #                      display(table_dataframe)
        #                     index = table_dataframe.index[table_dataframe[0].str.contains("TWENTY LARGEST SHAREHOLDERS")].item()
        #                     print("index " +str(index))
        
            #         do some form of cleaning
                        print("start cleaning")
                        while index != 0:

                            table_dataframe.drop([0],inplace=True)
                            table_dataframe = table_dataframe.reset_index(drop=True)
                            index = index - 1

                        table_dataframe.columns = table_dataframe.iloc[0,:]
                        table_dataframe.drop(table_dataframe.index[0] , inplace= True)
                        table_dataframe.reset_index(inplace = True , drop=True) 
                        display(table_dataframe)
                        path = directory+company_name+" shares"+".csv"
                        print(path)
                        table_dataframe.to_csv(path, index = False)
                        print("True")
                        PDFFile.close()
                        if PDFFile.closed:
                            print('file is closed')
                        return True
                    
        text = "UNABLE TO FIND"
        print(text)
        PDFFile.close()
        if PDFFile.closed:
            print('file is closed')
        return False

    except Exception as e: 
        print(e)
        PDFFile.close()
        if PDFFile.closed:
            print('file is closed')
        return False

<div class="alert alert-block alert-warning">
<b>Warning:</b> Table extracted might not be 100% correct ,please monitor the output.
</div>

#### Loop through all the pdf files in the directory
Get company name and path and fit into the function,append all company names that failed the extraction in a list

In [7]:
directory = './pdf_files/'
# moveto = "./pdf_files/"
unable_to_find_list = []
# lo
for filename in os.listdir(directory):
    if filename.endswith(".pdf"):
        company_name = filename.replace("_2018_Annual_Report.pdf","")
        company_name = company_name.strip()
        print(company_name)
#         observe output the extracted table might not be correct
        able_to_find = save_shareholder_to_csv(directory+filename,company_name)
        time.sleep(3)
        if able_to_find == False:
#             shutil.move(directory+filename,directory+"DONE/"+filename)
#         else:
            unable_to_find_list.append(company_name)
    else:
        continue
print(unable_to_find_list)

BLACKGOLD NATURAL RESOURCES LIMITED
./missed_out_pdf_files/BLACKGOLD NATURAL RESOURCES LIMITED_2018_Annual_Report.pdf

[['TWENTY', 'LARGEST', 'SHAREHOLDERS'], ['TOP', '20', 'SHAREHOLDERS'], ['TOP', 'TWENTY', 'SHAREHOLDERS'], ['20', 'LARGEST', 'SHAREHOLDERS'], ['TWENTY', 'LARGEST', 'UNITHOLDERS'], ['20', 'LARGEST', 'UNITHOLDERS'], ['TOP', 'TWENTY', 'UNITHOLDERS'], ['TOP', '20', 'UNITHOLDERS'], ['', 'MAJOR', 'SHAREHOLDERS']]

..............

page : 107 /108
..............

page : 28 /108page 29
The words was found 18 times in total

                          0       1           2      3               4      5
0  NAME OF TOP 5 MANAGEMENT
1    PERSONNEL (WHO ARE NOT    BASE  DIRECTORS’         PROVIDENT FUND
2         DIRECTORS OR CEO)  SALARY         FEE  BONUS    CONTRIBUTION  TOTAL
3           BELOW S$250,000     (%)         (%)    (%)             (%)    (%)
4          SUHERMAN BUDIONO     100           –      –               –    100
5                JEREMY NG7      85           –      7               8    100
6           RUDY HERLAMBANG     100           –      –               –    100
7             LILI HARYANTO     100           –      –               –    100
8          NATALIA HERMANTO      92           –      8               –    100
9                   NOTES:–

table found
search col
search col
unable to find index
page : 96 /108page 97
The words was found 11 times in total
table found
search col
search col
search col
search col
search col
search col
unable to find index
table found
search col
search col
search col
unable to find index
table found
search col
search col
have name
index : 2
search col
index : 2
search col
index : 2
search col
index : 2
start cleaning

0  NO.                    NAME OF SHAREHOLDERS   NO. OF SHARES      %
0    1                    UOB KAY HIAN PTE LTD     434,018,891  43.24
1    2  BNP PARIBAS NOMINEES SINGAPORE PTE LTD      89,662,556   8.93
2    3                    DBS NOMINEES PTE LTD      50,653,785   5.05
3    4             OCBC SECURITIES PRIVATE LTD      29,881,109   2.98
4    5                          YAO HSIAO TUNG      21,800,000   2.17
5    6              PHILLIP SECURITIES PTE LTD      19,047,900   1.90
6    7              RAFFLES NOMINEES (PTE) LTD      15,774,800   1.57
7    8   UNITED OVERSEAS BANK NOMINEES PTE LTD      10,857,500   1.08
8    9     CITIBANK NOMINEES SINGAPORE PTE LTD      10,320,500   1.03
9   10           GOH GUAN SIONG (WU YUANXIANG)       9,280,000   0.92
10  11         CGS-CIMB SECURITIES (S) PTE LTD       8,881,700   0.88
11  12                     NCL HOUSING PTE LTD       8,500,000   0.85
12  13                       PAUL GOH MOH CHYE       7,000,000   0.70
13  14                            WONG YAT FOO       7,000,000   0.70
14  15                 LIN GUAN YU @ JERRY LUM       6,845,800   0.68
15  16                           HO BENG SIANG       6,300,000   0.63
16  17                           IAN FREDERICK       6,300,000   0.63
17  18                              NG KIA JIN       6,000,000   0.60
18  19           TEO WEE LOONG (ZHANG WEILONG)       5,870,000   0.58
19  20                           TAN CHIN CHAI       5,500,000   0.55
20                                                 759,494,541  75.67

./missed_out_pdf_files/uncleaned csv/BLACKGOLD NATURAL RESOURCES LIMITED shares.csv
True
file is closed
DELFI LIMITED
./missed_out_pdf_files/DELFI LIMITED_2018_Annual_Report.pdf

[['TWENTY', 'LARGEST', 'SHAREHOLDERS'], ['TOP', '20', 'SHAREHOLDERS'], ['TOP', 'TWENTY', 'SHAREHOLDERS'], ['20', 'LARGEST', 'SHAREHOLDERS'], ['TWENTY', 'LARGEST', 'UNITHOLDERS'], ['20', 'LARGEST', 'UNITHOLDERS'], ['TOP', 'TWENTY', 'UNITHOLDERS'], ['TOP', '20', 'UNITHOLDERS'], ['', 'MAJOR', 'SHAREHOLDERS']]

..............

page : 191 /228

'1903. DIRECTORS™ AND SUBSTANTIAL SHAREHOLDERS™ INTERESTSTHE INTERESTS OF THE DIRECTORS AND THE SUBSTANTIAL SHAREHOLDERS IN SHARES AS AT THE LATEST PRACTICABLE DATE ARE SET OUT BELOW:DIRECT INTERESTDEEMED INTERESTNUMBEROF SHARES%NUMBEROF SHARES%SUBSTANTIAL SHAREHOLDERSLIM MEE LEN ŒŒ313,479,400(1)51.29JOHN CHUANG 220,8000.036313,863,400(2)51.36CREDIT SUISSE TRUST LIMITED (CST)ŒŒ311,726,000(3)51.01COMMONWEALTH BANK OF AUSTRALIAŒŒ67,605,100(4)11.06COLONIAL HOLDING COMPANY LIMITED (CHCL)ŒŒ67,605,100(4)11.06COMMONWEALTH INSURANCE HOLDINGS LIMITED (CIHL)ŒŒ67,605,100(4)11.06COLONIAL FIRST STATE GROUP LIMITED (CFSGL)ŒŒ67,605,100(4)11.06FIRST STATE INVESTMENTS (UK HOLDINGS) LTD (FSI UK)ŒŒ56,179,100(5)9.19SI HOLDINGS LIMITED (SIH)ŒŒ56,179,100(5)9.19FIRST STATE INVESTMENT MANAGEMENT (UK) LIMITED (FSIM UK)ŒŒ56,179,100(5)9.19JOHNSONVILLE ASSETS LIMITED (JAL)ŒŒ311,726,000(6)51.01JOHNSONVILLE HOLDINGS LIMITED (JHL) ŒŒ311,726,000(7) 51.01AERODROME INTERNATIONAL LIMITED (AERODROME)ŒŒ311,726,000(8)51.01JOSEPH CHUANG 270,8000.044309,061,000(9)50.57MAPLEGOLD ASSETS LIMITED (MAPLEGOLD)ŒŒ308,741,000(10)50.52BERLIAN ENTERPRISES LIMITED (BERLIAN)ŒŒ308,741,000(11)50.52SPRINGBRIGHT INVESTMENTS LIMITED (SPRINGBRIGHT)ŒŒ291,964,000(12)47.77STANDARD LIFE ABERDEEN PLCŒŒ42,613,600(13)6.97ABERDEEN STANDARD INVESTMENTS (ASIA) LIMITED (ASIAL)ŒŒ42,613,600(14) 6.97ABERDEEN ASSET MANAGEMENT PLC (AAM PLC)ŒŒ42,613,600(15)6.97DIRECTORSPEDRO MATA-BRUCKMANNŒŒ177,000(16)0.03JOHN CHUANG 220,8000.036313,863,400(2)51.36JOSEPH CHUANG 270,8000.044309,061,000(9)50.57WILLIAM CHUANG 630,8000.10ŒŒANTHONY MICHAEL DEANŒŒ50,000(17)0.008DAVINDER SINGH100,0000.016ŒŒKOH POH TIONG ŒŒŒŒDORESWAMY NANDKISHORE22,0000.0036NOTES:(1) MDM LIM MEE LEN (WIFE OF MR JOHN CHUANG) IS DEEMED TO BE INTERESTED IN THE SHARES HELD (DIRECTLY AND INDIRECTLY) BY AERODROME, BERLIAN, SPRINGBRIGHT, MCKEESON INVESTMENTS PTE LTD (MCKEESON) AND HONEYCHURCH INTERNATIONAL LIMITED (HONEYCHURCH), INCLUDING HER SHARES WHICH ARE HELD BY HER NOMINEE, CITIBANK NOMINEES SINGAPORE PTE LTD. MDM LIM™S INTERESTS ARISE AS SHE IS THE BENEFICIARY OF THE JOHNSONVILLE ASSET TRUST (JAT) AND JOHNSONVILLE HOLDINGS TRUST (JHT) OF WHICH CST HAS BEEN APPOINTED AS THE TRUSTEE. CST OWNS 100% OF JAL AND JHL, WHICH IN TURNS OWN 70% AND 30% OF THE ISSUED AND PAID-UP SHARE CAPITAL OF AERODROME. ACCORDINGLY, SHE IS DEEMED TO BE INTERESTED IN ALL THE SHARES HELD (DIRECTLY AND INDIRECTLY) BY AERODROME AND HONEYCHURCH. (2) MR JOHN CHUANG IS DEEMED TO BE INTERESTED IN ALL THE SHARES HELD (DIRECTLY AND INDIRECTLY) BY HIS WIFE, MDM LIM MEE LEN, INCLUDING HIS SHARES WHICH ARE HELD BY HIS NOMINEE, DBS NOMINEES PTE LTD. HE IS ALSO ONE OF THE BENEFICIARIES OF JHL. (3) CST IS A SINGAPORE REGISTERED PUBLIC TRUST COMPANY AND ITS DEEMED INTEREST ARISES FROM ITS 100% SHAREHOLDING IN JAL AND JHL. ACCORDINGLY, CST IS DEEMED TO BE INTERESTED IN ALL THE SHARES HELD (DIRECTLY AND INDIRECTLY) BY AERODROME. '

['1903.',
 'DIRECTORS™',
 'AND',
 'SUBSTANTIAL',
 'SHAREHOLDERS™',
 'INTERESTSTHE',
 'INTERESTS',
 'OF',
 'THE',
 'DIRECTORS',
 'AND',
 'THE',
 'SUBSTANTIAL',
 'SHAREHOLDERS',
 'IN',
 'SHARES',
 'AS',
 'AT',
 'THE',
 'LATEST',
 'PRACTICABLE',
 'DATE',
 'ARE',
 'SET',
 'OUT',
 'BELOW:DIRECT',
 'INTERESTDEEMED',
 'INTERESTNUMBEROF',
 'SHARES%NUMBEROF',
 'SHARES%SUBSTANTIAL',
 'SHAREHOLDERSLIM',
 'MEE',
 'LEN',
 'ŒŒ313,479,400(1)51.29JOHN',
 'CHUANG',
 '220,8000.036313,863,400(2)51.36CREDIT',
 'SUISSE',
 'TRUST',
 'LIMITED',
 '(CST)ŒŒ311,726,000(3)51.01COMMONWEALTH',
 'BANK',
 'OF',
 'AUSTRALIAŒŒ67,605,100(4)11.06COLONIAL',
 'HOLDING',
 'COMPANY',
 'LIMITED',
 '(CHCL)ŒŒ67,605,100(4)11.06COMMONWEALTH',
 'INSURANCE',
 'HOLDINGS',
 'LIMITED',
 '(CIHL)ŒŒ67,605,100(4)11.06COLONIAL',
 'FIRST',
 'STATE',
 'GROUP',
 'LIMITED',
 '(CFSGL)ŒŒ67,605,100(4)11.06FIRST',
 'STATE',
 'INVESTMENTS',
 '(UK',
 'HOLDINGS)',
 'LTD',
 '(FSI',
 'UK)ŒŒ56,179,100(5)9.19SI',
 'HOLDINGS',
 'LIMITED',
 '(SIH)ŒŒ56,179,100(5)9.19FIRST',
 'STATE',
 'INVESTMENT',
 'MANAGEMENT',
 '(UK)',
 'LIMITED',
 '(FSIM',
 'UK)ŒŒ56,179,100(5)9.19JOHNSONVILLE',
 'ASSETS',
 'LIMITED',
 '(JAL)ŒŒ311,726,000(6)51.01JOHNSONVILLE',
 'HOLDINGS',
 'LIMITED',
 '(JHL)',
 'ŒŒ311,726,000(7)',
 '51.01AERODROME',
 'INTERNATIONAL',
 'LIMITED',
 '(AERODROME)ŒŒ311,726,000(8)51.01JOSEPH',
 'CHUANG',
 '270,8000.044309,061,000(9)50.57MAPLEGOLD',
 'ASSETS',
 'LIMITED',
 '(MAPLEGOLD)ŒŒ308,741,000(10)50.52BERLIAN',
 'ENTERPRISES',
 'LIMITED',
 '(BERLIAN)ŒŒ308,741,000(11)50.52SPRINGBRIGHT',
 'INVESTMENTS',
 'LIMITED',
 '(SPRINGBRIGHT)ŒŒ291,964,000(12)47.77STANDARD',
 'LIFE',
 'ABERDEEN',
 'PLCŒŒ42,613,600(13)6.97ABERDEEN',
 'STANDARD',
 'INVESTMENTS',
 '(ASIA)',
 'LIMITED',
 '(ASIAL)ŒŒ42,613,600(14)',
 '6.97ABERDEEN',
 'ASSET',
 'MANAGEMENT',
 'PLC',
 '(AAM',
 'PLC)ŒŒ42,613,600(15)6.97DIRECTORSPEDRO',
 'MATA-BRUCKMANNŒŒ177,000(16)0.03JOHN',
 'CHUANG',
 '220,8000.036313,863,400(2)51.36JOSEPH',
 'CHUANG',
 '270,8000.044309,061,000(9)50.57WILLIAM',
 'CHUANG',
 '630,8000.10ŒŒANTHONY',
 'MICHAEL',
 'DEANŒŒ50,000(17)0.008DAVINDER',
 'SINGH100,0000.016ŒŒKOH',
 'POH',
 'TIONG',
 'ŒŒŒŒDORESWAMY',
 'NANDKISHORE22,0000.0036NOTES:(1)',
 'MDM',
 'LIM',
 'MEE',
 'LEN',
 '(WIFE',
 'OF',
 'MR',
 'JOHN',
 'CHUANG)',
 'IS',
 'DEEMED',
 'TO',
 'BE',
 'INTERESTED',
 'IN',
 'THE',
 'SHARES',
 'HELD',
 '(DIRECTLY',
 'AND',
 'INDIRECTLY)',
 'BY',
 'AERODROME,',
 'BERLIAN,',
 'SPRINGBRIGHT,',
 'MCKEESON',
 'INVESTMENTS',
 'PTE',
 'LTD',
 '(MCKEESON)',
 'AND',
 'HONEYCHURCH',
 'INTERNATIONAL',
 'LIMITED',
 '(HONEYCHURCH),',
 'INCLUDING',
 'HER',
 'SHARES',
 'WHICH',
 'ARE',
 'HELD',
 'BY',
 'HER',
 'NOMINEE,',
 'CITIBANK',
 'NOMINEES',
 'SINGAPORE',
 'PTE',
 'LTD.',
 'MDM',
 'LIM™S',
 'INTERESTS',
 'ARISE',
 'AS',
 'SHE',
 'IS',
 'THE',
 'BENEFICIARY',
 'OF',
 'THE',
 'JOHNSONVILLE',
 'ASSET',
 'TRUST',
 '(JAT)',
 'AND',
 'JOHNSONVILLE',
 'HOLDINGS',
 'TRUST',
 '(JHT)',
 'OF',
 'WHICH',
 'CST',
 'HAS',
 'BEEN',
 'APPOINTED',
 'AS',
 'THE',
 'TRUSTEE.',
 'CST',
 'OWNS',
 '100%',
 'OF',
 'JAL',
 'AND',
 'JHL,',
 'WHICH',
 'IN',
 'TURNS',
 'OWN',
 '70%',
 'AND',
 '30%',
 'OF',
 'THE',
 'ISSUED',
 'AND',
 'PAID-UP',
 'SHARE',
 'CAPITAL',
 'OF',
 'AERODROME.',
 'ACCORDINGLY,',
 'SHE',
 'IS',
 'DEEMED',
 'TO',
 'BE',
 'INTERESTED',
 'IN',
 'ALL',
 'THE',
 'SHARES',
 'HELD',
 '(DIRECTLY',
 'AND',
 'INDIRECTLY)',
 'BY',
 'AERODROME',
 'AND',
 'HONEYCHURCH.',
 '(2)',
 'MR',
 'JOHN',
 'CHUANG',
 'IS',
 'DEEMED',
 'TO',
 'BE',
 'INTERESTED',
 'IN',
 'ALL',
 'THE',
 'SHARES',
 'HELD',
 '(DIRECTLY',
 'AND',
 'INDIRECTLY)',
 'BY',
 'HIS',
 'WIFE,',
 'MDM',
 'LIM',
 'MEE',
 'LEN,',
 'INCLUDING',
 'HIS',
 'SHARES',
 'WHICH',
 'ARE',
 'HELD',
 'BY',
 'HIS',
 'NOMINEE,',
 'DBS',
 'NOMINEES',
 'PTE',
 'LTD.',
 'HE',
 'IS',
 'ALSO',
 'ONE',
 'OF',
 'THE',
 'BENEFICIARIES',
 'OF',
 'JHL.',
 '(3)',
 'CST',
 'IS',
 'A',
 'SINGAPORE',
 'REGISTERED',
 'PUBLIC',
 'TRUST',
 'COMPANY',
 'AND',
 'ITS',
 'DEEMED',
 'INTEREST',
 'ARISES',
 'FROM',
 'ITS',
 '100%',
 'SHAREHOLDING',
 'IN',
 'JAL',
 'AND',
 'JHL.',
 'ACCORDINGLY,',
 'CST',
 'IS',
 'DEEMED',
 'TO',
 'BE',
 'INTERESTED',
 'IN',
 'ALL',
 'THE',
 'SHARES',
 'HELD',
 '(DIRECTLY',
 'AND',
 'INDIRECTLY)',
 'BY',
 'AERODROME.']

page : 227 /228
..............

page : 52 /228page 53
The words was found 3 times in total
table found
search col
search col
unable to find index
page : 55 /228page 56
The words was found 10 times in total
table found
search col
search col
unable to find index
page : 191 /228

'1903. DIRECTORS™ AND SUBSTANTIAL SHAREHOLDERS™ INTERESTSTHE INTERESTS OF THE DIRECTORS AND THE SUBSTANTIAL SHAREHOLDERS IN SHARES AS AT THE LATEST PRACTICABLE DATE ARE SET OUT BELOW:DIRECT INTERESTDEEMED INTERESTNUMBEROF SHARES%NUMBEROF SHARES%SUBSTANTIAL SHAREHOLDERSLIM MEE LEN ŒŒ313,479,400(1)51.29JOHN CHUANG 220,8000.036313,863,400(2)51.36CREDIT SUISSE TRUST LIMITED (CST)ŒŒ311,726,000(3)51.01COMMONWEALTH BANK OF AUSTRALIAŒŒ67,605,100(4)11.06COLONIAL HOLDING COMPANY LIMITED (CHCL)ŒŒ67,605,100(4)11.06COMMONWEALTH INSURANCE HOLDINGS LIMITED (CIHL)ŒŒ67,605,100(4)11.06COLONIAL FIRST STATE GROUP LIMITED (CFSGL)ŒŒ67,605,100(4)11.06FIRST STATE INVESTMENTS (UK HOLDINGS) LTD (FSI UK)ŒŒ56,179,100(5)9.19SI HOLDINGS LIMITED (SIH)ŒŒ56,179,100(5)9.19FIRST STATE INVESTMENT MANAGEMENT (UK) LIMITED (FSIM UK)ŒŒ56,179,100(5)9.19JOHNSONVILLE ASSETS LIMITED (JAL)ŒŒ311,726,000(6)51.01JOHNSONVILLE HOLDINGS LIMITED (JHL) ŒŒ311,726,000(7) 51.01AERODROME INTERNATIONAL LIMITED (AERODROME)ŒŒ311,726,000(8)51.01JOSEPH CHUANG 270,8000.044309,061,000(9)50.57MAPLEGOLD ASSETS LIMITED (MAPLEGOLD)ŒŒ308,741,000(10)50.52BERLIAN ENTERPRISES LIMITED (BERLIAN)ŒŒ308,741,000(11)50.52SPRINGBRIGHT INVESTMENTS LIMITED (SPRINGBRIGHT)ŒŒ291,964,000(12)47.77STANDARD LIFE ABERDEEN PLCŒŒ42,613,600(13)6.97ABERDEEN STANDARD INVESTMENTS (ASIA) LIMITED (ASIAL)ŒŒ42,613,600(14) 6.97ABERDEEN ASSET MANAGEMENT PLC (AAM PLC)ŒŒ42,613,600(15)6.97DIRECTORSPEDRO MATA-BRUCKMANNŒŒ177,000(16)0.03JOHN CHUANG 220,8000.036313,863,400(2)51.36JOSEPH CHUANG 270,8000.044309,061,000(9)50.57WILLIAM CHUANG 630,8000.10ŒŒANTHONY MICHAEL DEANŒŒ50,000(17)0.008DAVINDER SINGH100,0000.016ŒŒKOH POH TIONG ŒŒŒŒDORESWAMY NANDKISHORE22,0000.0036NOTES:(1) MDM LIM MEE LEN (WIFE OF MR JOHN CHUANG) IS DEEMED TO BE INTERESTED IN THE SHARES HELD (DIRECTLY AND INDIRECTLY) BY AERODROME, BERLIAN, SPRINGBRIGHT, MCKEESON INVESTMENTS PTE LTD (MCKEESON) AND HONEYCHURCH INTERNATIONAL LIMITED (HONEYCHURCH), INCLUDING HER SHARES WHICH ARE HELD BY HER NOMINEE, CITIBANK NOMINEES SINGAPORE PTE LTD. MDM LIM™S INTERESTS ARISE AS SHE IS THE BENEFICIARY OF THE JOHNSONVILLE ASSET TRUST (JAT) AND JOHNSONVILLE HOLDINGS TRUST (JHT) OF WHICH CST HAS BEEN APPOINTED AS THE TRUSTEE. CST OWNS 100% OF JAL AND JHL, WHICH IN TURNS OWN 70% AND 30% OF THE ISSUED AND PAID-UP SHARE CAPITAL OF AERODROME. ACCORDINGLY, SHE IS DEEMED TO BE INTERESTED IN ALL THE SHARES HELD (DIRECTLY AND INDIRECTLY) BY AERODROME AND HONEYCHURCH. (2) MR JOHN CHUANG IS DEEMED TO BE INTERESTED IN ALL THE SHARES HELD (DIRECTLY AND INDIRECTLY) BY HIS WIFE, MDM LIM MEE LEN, INCLUDING HIS SHARES WHICH ARE HELD BY HIS NOMINEE, DBS NOMINEES PTE LTD. HE IS ALSO ONE OF THE BENEFICIARIES OF JHL. (3) CST IS A SINGAPORE REGISTERED PUBLIC TRUST COMPANY AND ITS DEEMED INTEREST ARISES FROM ITS 100% SHAREHOLDING IN JAL AND JHL. ACCORDINGLY, CST IS DEEMED TO BE INTERESTED IN ALL THE SHARES HELD (DIRECTLY AND INDIRECTLY) BY AERODROME. '

['1903.',
 'DIRECTORS™',
 'AND',
 'SUBSTANTIAL',
 'SHAREHOLDERS™',
 'INTERESTSTHE',
 'INTERESTS',
 'OF',
 'THE',
 'DIRECTORS',
 'AND',
 'THE',
 'SUBSTANTIAL',
 'SHAREHOLDERS',
 'IN',
 'SHARES',
 'AS',
 'AT',
 'THE',
 'LATEST',
 'PRACTICABLE',
 'DATE',
 'ARE',
 'SET',
 'OUT',
 'BELOW:DIRECT',
 'INTERESTDEEMED',
 'INTERESTNUMBEROF',
 'SHARES%NUMBEROF',
 'SHARES%SUBSTANTIAL',
 'SHAREHOLDERSLIM',
 'MEE',
 'LEN',
 'ŒŒ313,479,400(1)51.29JOHN',
 'CHUANG',
 '220,8000.036313,863,400(2)51.36CREDIT',
 'SUISSE',
 'TRUST',
 'LIMITED',
 '(CST)ŒŒ311,726,000(3)51.01COMMONWEALTH',
 'BANK',
 'OF',
 'AUSTRALIAŒŒ67,605,100(4)11.06COLONIAL',
 'HOLDING',
 'COMPANY',
 'LIMITED',
 '(CHCL)ŒŒ67,605,100(4)11.06COMMONWEALTH',
 'INSURANCE',
 'HOLDINGS',
 'LIMITED',
 '(CIHL)ŒŒ67,605,100(4)11.06COLONIAL',
 'FIRST',
 'STATE',
 'GROUP',
 'LIMITED',
 '(CFSGL)ŒŒ67,605,100(4)11.06FIRST',
 'STATE',
 'INVESTMENTS',
 '(UK',
 'HOLDINGS)',
 'LTD',
 '(FSI',
 'UK)ŒŒ56,179,100(5)9.19SI',
 'HOLDINGS',
 'LIMITED',
 '(SIH)ŒŒ56,179,100(5)9.19FIRST',
 'STATE',
 'INVESTMENT',
 'MANAGEMENT',
 '(UK)',
 'LIMITED',
 '(FSIM',
 'UK)ŒŒ56,179,100(5)9.19JOHNSONVILLE',
 'ASSETS',
 'LIMITED',
 '(JAL)ŒŒ311,726,000(6)51.01JOHNSONVILLE',
 'HOLDINGS',
 'LIMITED',
 '(JHL)',
 'ŒŒ311,726,000(7)',
 '51.01AERODROME',
 'INTERNATIONAL',
 'LIMITED',
 '(AERODROME)ŒŒ311,726,000(8)51.01JOSEPH',
 'CHUANG',
 '270,8000.044309,061,000(9)50.57MAPLEGOLD',
 'ASSETS',
 'LIMITED',
 '(MAPLEGOLD)ŒŒ308,741,000(10)50.52BERLIAN',
 'ENTERPRISES',
 'LIMITED',
 '(BERLIAN)ŒŒ308,741,000(11)50.52SPRINGBRIGHT',
 'INVESTMENTS',
 'LIMITED',
 '(SPRINGBRIGHT)ŒŒ291,964,000(12)47.77STANDARD',
 'LIFE',
 'ABERDEEN',
 'PLCŒŒ42,613,600(13)6.97ABERDEEN',
 'STANDARD',
 'INVESTMENTS',
 '(ASIA)',
 'LIMITED',
 '(ASIAL)ŒŒ42,613,600(14)',
 '6.97ABERDEEN',
 'ASSET',
 'MANAGEMENT',
 'PLC',
 '(AAM',
 'PLC)ŒŒ42,613,600(15)6.97DIRECTORSPEDRO',
 'MATA-BRUCKMANNŒŒ177,000(16)0.03JOHN',
 'CHUANG',
 '220,8000.036313,863,400(2)51.36JOSEPH',
 'CHUANG',
 '270,8000.044309,061,000(9)50.57WILLIAM',
 'CHUANG',
 '630,8000.10ŒŒANTHONY',
 'MICHAEL',
 'DEANŒŒ50,000(17)0.008DAVINDER',
 'SINGH100,0000.016ŒŒKOH',
 'POH',
 'TIONG',
 'ŒŒŒŒDORESWAMY',
 'NANDKISHORE22,0000.0036NOTES:(1)',
 'MDM',
 'LIM',
 'MEE',
 'LEN',
 '(WIFE',
 'OF',
 'MR',
 'JOHN',
 'CHUANG)',
 'IS',
 'DEEMED',
 'TO',
 'BE',
 'INTERESTED',
 'IN',
 'THE',
 'SHARES',
 'HELD',
 '(DIRECTLY',
 'AND',
 'INDIRECTLY)',
 'BY',
 'AERODROME,',
 'BERLIAN,',
 'SPRINGBRIGHT,',
 'MCKEESON',
 'INVESTMENTS',
 'PTE',
 'LTD',
 '(MCKEESON)',
 'AND',
 'HONEYCHURCH',
 'INTERNATIONAL',
 'LIMITED',
 '(HONEYCHURCH),',
 'INCLUDING',
 'HER',
 'SHARES',
 'WHICH',
 'ARE',
 'HELD',
 'BY',
 'HER',
 'NOMINEE,',
 'CITIBANK',
 'NOMINEES',
 'SINGAPORE',
 'PTE',
 'LTD.',
 'MDM',
 'LIM™S',
 'INTERESTS',
 'ARISE',
 'AS',
 'SHE',
 'IS',
 'THE',
 'BENEFICIARY',
 'OF',
 'THE',
 'JOHNSONVILLE',
 'ASSET',
 'TRUST',
 '(JAT)',
 'AND',
 'JOHNSONVILLE',
 'HOLDINGS',
 'TRUST',
 '(JHT)',
 'OF',
 'WHICH',
 'CST',
 'HAS',
 'BEEN',
 'APPOINTED',
 'AS',
 'THE',
 'TRUSTEE.',
 'CST',
 'OWNS',
 '100%',
 'OF',
 'JAL',
 'AND',
 'JHL,',
 'WHICH',
 'IN',
 'TURNS',
 'OWN',
 '70%',
 'AND',
 '30%',
 'OF',
 'THE',
 'ISSUED',
 'AND',
 'PAID-UP',
 'SHARE',
 'CAPITAL',
 'OF',
 'AERODROME.',
 'ACCORDINGLY,',
 'SHE',
 'IS',
 'DEEMED',
 'TO',
 'BE',
 'INTERESTED',
 'IN',
 'ALL',
 'THE',
 'SHARES',
 'HELD',
 '(DIRECTLY',
 'AND',
 'INDIRECTLY)',
 'BY',
 'AERODROME',
 'AND',
 'HONEYCHURCH.',
 '(2)',
 'MR',
 'JOHN',
 'CHUANG',
 'IS',
 'DEEMED',
 'TO',
 'BE',
 'INTERESTED',
 'IN',
 'ALL',
 'THE',
 'SHARES',
 'HELD',
 '(DIRECTLY',
 'AND',
 'INDIRECTLY)',
 'BY',
 'HIS',
 'WIFE,',
 'MDM',
 'LIM',
 'MEE',
 'LEN,',
 'INCLUDING',
 'HIS',
 'SHARES',
 'WHICH',
 'ARE',
 'HELD',
 'BY',
 'HIS',
 'NOMINEE,',
 'DBS',
 'NOMINEES',
 'PTE',
 'LTD.',
 'HE',
 'IS',
 'ALSO',
 'ONE',
 'OF',
 'THE',
 'BENEFICIARIES',
 'OF',
 'JHL.',
 '(3)',
 'CST',
 'IS',
 'A',
 'SINGAPORE',
 'REGISTERED',
 'PUBLIC',
 'TRUST',
 'COMPANY',
 'AND',
 'ITS',
 'DEEMED',
 'INTEREST',
 'ARISES',
 'FROM',
 'ITS',
 '100%',
 'SHAREHOLDING',
 'IN',
 'JAL',
 'AND',
 'JHL.',
 'ACCORDINGLY,',
 'CST',
 'IS',
 'DEEMED',
 'TO',
 'BE',
 'INTERESTED',
 'IN',
 'ALL',
 'THE',
 'SHARES',
 'HELD',
 '(DIRECTLY',
 'AND',
 'INDIRECTLY)',
 'BY',
 'AERODROME.']

page : 204 /228page 205
The words was found 13 times in total
table found
search col
search col
have name
index : 9
search col
index : 9
search col
index : 9
search col
index : 9
search col
index : 9
start cleaning

0  NO.                         NAME OF SHAREHOLDER     NO. OF SHARES      %
0    1               RAFFLES NOMINEES(PTE) LIMITED       332,505,900  54.41
1    2                        DBS NOMINEES PTE LTD       128,996,130  21.11
2    3         CITIBANK NOMINEES SINGAPORE PTE LTD        87,802,562  14.37
3    4         BPSS NOMINEES SINGAPORE (PTE.) LTD.        28,620,620   4.68
4    5                MCKEESON INVESTMENTS PTE LTD         6,000,000   0.98
5    6                       DBSN SERVICES PTE LTD         5,619,800   0.92
6    7           HSBC (SINGAPORE) NOMINEES PTE LTD         4,059,300   0.66
7    8                        UOB KAY HIAN PTE LTD         2,933,200   0.48
8    9  MORGAN STANLEY ASIA (S) SECURITIES PTE LTD         2,483,500   0.41
9   10              CHUANG MYING HWA @ MYING MYING         1,523,600   0.25
10  11       UNITED OVERSEAS BANK NOMINEES PTE LTD         1,100,500   0.18
11  12                  CHUANG YOK HOA @ MA LIN ZI           896,200   0.15
12  13             CHUANG TIONG KIE @ MAUNG LU WIN           630,800   0.10
13  14                 ABN AMRO CLEARING BANK N.V.           524,400   0.09
14  15                  PHILLIP SECURITIES PTE LTD           363,400   0.06
15  16                        NANCY FLORENCIA TJIE           318,000   0.05
16  17                            CHEAH LEONG TEEN           300,000   0.05
17  18              CHUANG TIONG LIEP @ CHIT KO KO           270,800   0.04
18  19         MAYBANK KIM ENG SECURITIES PTE.LTD.           270,759   0.04
19  20             CHUANG TIONG CHOON @ MA WEI LIN           220,800   0.04
20                                                       605,440,271  99.07

./missed_out_pdf_files/uncleaned csv/DELFI LIMITED shares.csv
True
file is closed
DYNA-MAC HOLDINGS LTD.
./missed_out_pdf_files/DYNA-MAC HOLDINGS LTD._2018_Annual_Report.pdf

[['TWENTY', 'LARGEST', 'SHAREHOLDERS'], ['TOP', '20', 'SHAREHOLDERS'], ['TOP', 'TWENTY', 'SHAREHOLDERS'], ['20', 'LARGEST', 'SHAREHOLDERS'], ['TWENTY', 'LARGEST', 'UNITHOLDERS'], ['20', 'LARGEST', 'UNITHOLDERS'], ['TOP', 'TWENTY', 'UNITHOLDERS'], ['TOP', '20', 'UNITHOLDERS'], ['', 'MAJOR', 'SHAREHOLDERS']]

..............

page : 123 /124
..............

page : 5 /124page 6
The words was found 20 times in total
table found
search col
search col
unable to find index
page : 37 /124page 38
The words was found 17 times in total
table found
search col
have name
index : 35
search col
have name
index : 2
start cleaning

,AS AT 13 MARCH 2019,NAME OF SUBSTANTIAL DIRECT INTEREST DEEMED INTEREST TOTAL INTEREST %
0,,SHAREHOLDER\n(NO. OF SHARES)\n(NO. OF SHARES)\...
1,SHARE CAPITAL,
2,,"LIM TZE JONG(1)\n417,776,000\n–\n417,776,000\n..."
3,"NUMBER OF ISSUED SHARES: 1,023,211,000",
4,,KS INVESTMENTS
5,,"250,000,000\n–\n250,000,000\n24.43"
6,,PTE. LTD.(2)
7,NUMBER OF TREASURY SHARES: NIL,
8,,KEPPEL OFFSHORE
9,,"–\n250,000,000\n250,000,000\n24.43"
10,,& MARINE LIMITED (2)(3)
11,CLASS \nOF \nSHARES \nAND \nVOTING \nRIGHTS:,
12,ORDINARY SHARES WITH ONE VOTE PER SHARE,KEPPEL CORPORATION
13,,"–\n250,000,000\n250,000,000\n24.43"
14,,LIMITED(3)(4)
15,SHAREHOLDING HELD BY THE PUBLIC,TEMASEK HOLDINGS
16,,"–\n255,443,000\n255,443,000\n24.96"
17,BASED \nON \nTHE \nINFORMATION \nAVAILABLE,(PRIVATE) LIMITED(4)
18,"TO THE COMPANY AS AT 13 MARCH 2019,",
19,,NOTES:
20,APPROXIMATELY 33.67% OF THE TOTAL NUMBER,1. \nLIM TZE JONG’S DIRECT INTEREST IN T...
21,,"REMAINING 417,683,000 SHARES ARE HELD THROUGH ..."
22,OF ISSUED SHARES OF THE COMPANY IS HELD BY,
23,,2. \nKEPPEL OFFSHORE & MARINE LIMITED OWNS 100...
24,THE PUBLIC AND THEREFORE RULES 723 OF THE,OF THE COMPANIES ACT. CHAPTER 50 (THE “ACT”) T...
25,,3. \nKEPPEL CORPORATION LIMITED OWNS 100% ...
26,LISTING MANUAL ISSUED BY THE SINGAPORE,
27,,SECTION 7(4) OF THE ACT TO HAVE AN INTEREST IN...
28,EXCHANGE SECURITIES TRADING LIMITED \nIS,4. \nTEMASEK HOLDINGS (PRIVATE) LIMITED’S DEEM...
29,,FUND MANAGEMENT COMPANY LTD AND KEPPEL CORPORA...
...,...,...
42,6\nDBSN SERVICES PTE LTD,"10,670,000\n1.04"
43,,"UK\n3,000\n0.00\n1\n0.03"
44,7\nUOB KAY HIAN PTE LTD,"6,351,000\n0.62"
45,,"EUROPE\n1,000\n0.00\n1\n0.03"
46,8\nDBS VICKERS SECURITIES (SINGAPORE) PTE LTD,"4,668,000\n0.46"
47,,"1,023,211,000\n100.00\n3,807\n100.00"
48,9\nPHILLIP SECURITIES PTE LTD,"4,652,200\n0.45"
49,10\nMAYBANK KIM ENG SECURITIES PTE LTD,"4,053,400\n0.40"
50,,ANALYSIS OF SHAREHOLDINGS
51,11\nSASIKUMARAN PILLAI S/O MANMATHAN PILLAI,"3,968,000\n0.39"
52,,RANGE OF \nNO. OF \nNO. OF
53,12\nOCBC NOMINEES SINGAPORE PRIVATE,"3,659,400\n0.36"
54,,SHAREHOLDINGS\nSHAREHOLDERS\n%\nSHARES\n%
55,LIMITED,
56,,0.26\n0.00\n1 – 99\n10\n254
57,13\nUNITED OVERSEAS BANK NOMINEES PRIVATE,"2,997,200\n0.29"
58,LIMITED,
59,,"2.81\n0.01\n100 – 1,000\n107\n89,915"
60,14\nLIU YE,"2,519,900\n0.25"
61,,"33.31\n0.91\n1,001 – 10,000\n1,268\n9,301,640"
62,15\nLIM & TAN SECURITIES PTE LTD,"2,345,500\n0.23"
63,,"62.65\n17.04\n10,001 – 1,000,000\n2,385\n174,4..."
64,16\nHABACUS PTE LTD,"2,000,000\n0.20"
65,,"0.97\n82.04\n1,000,001 AND ABOVE\n37\n839,419,141"
66,17\nKHOO CHEE BEEN,"2,000,000\n0.20"
67,,"100.00\n100.00\n3,807\n1,023,211,000"
68,18\nLIM TJEW YOK,"2,000,000\n0.20"
69,19\nVARGHESE JOHN,"2,000,000\n0.20"
70,20\nPOH HO PENG,"1,950,000\n0.19"
71,,"814,705,700\n79.64"

./missed_out_pdf_files/uncleaned csv/DYNA-MAC HOLDINGS LTD. shares.csv
True
file is closed
ECOWISE HOLDINGS LIMITED
./missed_out_pdf_files/ECOWISE HOLDINGS LIMITED_2018_Annual_Report.pdf

[['TWENTY', 'LARGEST', 'SHAREHOLDERS'], ['TOP', '20', 'SHAREHOLDERS'], ['TOP', 'TWENTY', 'SHAREHOLDERS'], ['20', 'LARGEST', 'SHAREHOLDERS'], ['TWENTY', 'LARGEST', 'UNITHOLDERS'], ['20', 'LARGEST', 'UNITHOLDERS'], ['TOP', 'TWENTY', 'UNITHOLDERS'], ['TOP', '20', 'UNITHOLDERS'], ['', 'MAJOR', 'SHAREHOLDERS']]

..............

page : 171 /172
..............

page : 38 /172page 39
The words was found 6 times in total
table found
search col
search col
have name
index : 16
start cleaning

,"FOR FY2018, THE RC COMPRISED THREE","(3) INDEPENDENT NON-EXECUTIVE DIRECTORS, NAMELY, MR WONG JOO WAN,"
0,MR ER KWONG WAH AND MS POK MEE YAU. MS POK MEE...,
1,THE KEY TERMS OF REFERENCE OF THE RC ARE AS FO...,
2,•,RECOMMENDING TO THE BOARD ALL MATTERS RELATING...
3,,"SALARIES, ALLOWANCES, BONUSES, SHARE-BASED INC..."
4,,TOP FIVE (5) KEY MANAGEMENT PERSONNEL;
5,•,REVIEWING AND RECOMMENDING TO THE BOARD THE TE...
6,•,DETERMINING THE APPROPRIATENESS OF THE REMUNER...
7,•,CONSIDER THE DISCLOSURE REQUIREMENTS FOR DIREC...
8,,AS REQUIRED BY THE CODE; AND
9,•,ADMINISTERING THE ECOWISE PERFORMANCE SHARE PL...
10,GUIDELINE 7.2,
11,PROCEDURE FOR SETTING REMUNERATION,
12,THE RC REVIEWS AND RECOMMENDS TO THE BOARD THE...,
13,AS FOR KEY MANAGEMENT PERSONNEL. THE RC’S RECO...,
14,THE EXECUTIVE DIRECTORS’ REMUNERATION PACK...,
15,SCHEME THAT IS PERFORMANCE-RELATED TO ALIGN TH...,
16,DIRECTORS ARE PAID YEARLY DIRECTORS’ FEES OF A...,
17,AT AGM. INDEPENDENT NON-EXECUTIVE DIRECTORS AR...,
18,NO DIRECTORS PARTICIPATE IN DECISIONS ON THEIR...,

./missed_out_pdf_files/uncleaned csv/ECOWISE HOLDINGS LIMITED shares.csv
True
file is closed
ELEC & ELTEK INTERNATIONAL COMPANY LIMITED.
./missed_out_pdf_files/ELEC & ELTEK INTERNATIONAL COMPANY LIMITED._2018_Annual_Report.pdf

[['TWENTY', 'LARGEST', 'SHAREHOLDERS'], ['TOP', '20', 'SHAREHOLDERS'], ['TOP', 'TWENTY', 'SHAREHOLDERS'], ['20', 'LARGEST', 'SHAREHOLDERS'], ['TWENTY', 'LARGEST', 'UNITHOLDERS'], ['20', 'LARGEST', 'UNITHOLDERS'], ['TOP', 'TWENTY', 'UNITHOLDERS'], ['TOP', '20', 'UNITHOLDERS'], ['', 'MAJOR', 'SHAREHOLDERS']]

..............

page : 149 /150
..............

page : 149 /150
..............

page : 149 /150
..............

page : 149 /150
..............

page : 149 /150
..............

page : 149 /150
..............

page : 149 /150
..............

page : 149 /150
..............

page : 13 /150page 14
The words was found 403 times in total
table found
search col
search col
unable to find index
table found
search col
search col
unable to find index
page : 33 /150page 34
The words was found 659 times in total
table found
search col
search col
unable to find index

,0,1
0,ANY SUCH MEETING.,
1,PURSUANT TO THE ACT,
2,CONVENING OF AN EGM ON REQUISITION,
3,(A),THE DIRECTORS NOTWITHSTANDING ANYTHING IN ...
4,,MEMBERS OF THE COMPANY HOLDING AT THE D...
5,,THAN 10% OF SUCH OF THE PAID-UP CAPITAL...
6,,"OF VOTING AT GENERAL MEETINGS, IMMEDIATEL..."
7,,AS SOON AS PRACTICABLE BUT IN ANY CASE ...
8,,COMPANY OF THE REQUISITION.
9,(B),THE REQUISITION SHALL STATE THE OBJECTS ...
10,,REQUISITIONISTS AND DEPOSITED AT THE REGISTERE...
11,,SEVERAL DOCUMENTS IN LIKE FORM EACH SIGNED BY ...

page : 34 /150page 35
The words was found 483 times in total
table found
search col
search col
unable to find index
page : 46 /150page 47
The words was found 469 times in total

UserWarning: No tables found in table area 1 [stream.py:361]

1
file is closed
ELLIPSIZ LTD
./missed_out_pdf_files/ELLIPSIZ LTD_2018_Annual_Report.pdf

[['TWENTY', 'LARGEST', 'SHAREHOLDERS'], ['TOP', '20', 'SHAREHOLDERS'], ['TOP', 'TWENTY', 'SHAREHOLDERS'], ['20', 'LARGEST', 'SHAREHOLDERS'], ['TWENTY', 'LARGEST', 'UNITHOLDERS'], ['20', 'LARGEST', 'UNITHOLDERS'], ['TOP', 'TWENTY', 'UNITHOLDERS'], ['TOP', '20', 'UNITHOLDERS'], ['', 'MAJOR', 'SHAREHOLDERS']]

..............

page : 143 /144
..............

page : 30 /144page 31
The words was found 12 times in total
table found
search col
search col
unable to find index
page : 132 /144page 133
The words was found 18 times in total
table found
search col
search col
have name
index : 17
search col
index : 17
search col
index : 17
search col
index : 17
start cleaning

,NO.,NAME OF SHAREHOLDERS,,SHARES,%
0,1,CGS-CIMB SECURITIES (SINGAPORE) PTE LTD,,"100,789,556",60.31
1,2,DBS NOMINEES (PRIVATE) LIMITED,,"9,751,153",5.83
2,3,CITIBANK NOMINEES SINGAPORE PTE LTD,,"1,438,400",0.86
3,4,OCBC SECURITIES PRIVATE LIMITED,,"1,288,899",0.77
4,5,QUEK CHIN CHOO,,"1,132,000",0.68
5,6,RAFFLES NOMINEES (PTE.) LIMITED,,"1,109,960",0.66
6,7,BEVRIAN PTE LTD,,"968,300",0.58
7,8,UNITED OVERSEAS BANK NOMINEES (PRIVATE) LIMITED,,"878,622",0.53
8,9,TAY BOON HUAT,,"804,900",0.48
9,10,UOB KAY HIAN PRIVATE LIMITED,,"789,660",0.47
10,11,IP YUEN KWONG,,"783,500",0.47
11,12,OCBC NOMINEES SINGAPORE PRIVATE LIMITED,,"761,400",0.46
12,13,LEE LENG GHEE WILLIE,,"750,000",0.45
13,14,MAYBANK KIM ENG SECURITIES PTE LTD,,"685,981",0.41
14,15,NG THIAM SENG @ EUGENE NG,,"640,000",0.38
15,16,HONG LEONG FINANCE NOMINEES PTE LTD,,"506,700",0.30
16,17,QUEK AIK WU OR LOO HUI MIN,,"499,900",0.30
17,18,PHILLIP SECURITIES PTE LTD,,"473,610",0.28
18,19,SNG CHING NGEE,,"461,000",0.28
19,20,DBS VICKERS SECURITIES (SINGAPORE) PTE LTD,,"455,800",0.27
20,TOTAL,,,"124,969,341",74.77

./missed_out_pdf_files/uncleaned csv/ELLIPSIZ LTD shares.csv
True
file is closed
ENGRO CORPORATION LIMITED
./missed_out_pdf_files/ENGRO CORPORATION LIMITED_2018_Annual_Report.pdf

[['TWENTY', 'LARGEST', 'SHAREHOLDERS'], ['TOP', '20', 'SHAREHOLDERS'], ['TOP', 'TWENTY', 'SHAREHOLDERS'], ['20', 'LARGEST', 'SHAREHOLDERS'], ['TWENTY', 'LARGEST', 'UNITHOLDERS'], ['20', 'LARGEST', 'UNITHOLDERS'], ['TOP', 'TWENTY', 'UNITHOLDERS'], ['TOP', '20', 'UNITHOLDERS'], ['', 'MAJOR', 'SHAREHOLDERS']]

..............

page : 175 /176
..............

page : 7 /176page 8
The words was found 24 times in total
table found
search col
search col
unable to find index
page : 8 /176page 9
The words was found 15 times in total
table found
search col
search col
unable to find index
page : 33 /176page 34
The words was found 14 times in total
table found
search col
search col
unable to find index
page : 175 /176
..............

page : 175 /176
..............

page : 162 /176page 163
The words was found 13 times in total
table found
search col
search col
have name
index : 10
search col
index : 10
search col
index : 10
search col
index : 10
start cleaning

0  NO.                                             NAME   NO. OF SHARES      %
0    1  AFRO-ASIA INTERNATIONAL ENTERPRISES PTE LIMITED      44,463,000  37.48
1    2                    AFRO ASIA SHIPPING CO PTE LTD      14,270,500  12.03
2    3                     UOB KAY HIAN PRIVATE LIMITED      13,154,010  11.09
3    4                                    CHUA WEE KENG       6,225,600   5.25
4    5                   DBS NOMINEES (PRIVATE) LIMITED       2,470,312   2.08
5    6                            MORPH INVESTMENTS LTD       1,596,500   1.35
6    7                    NG SOO GIAP OR CHEW SOOI GUAT       1,495,500   1.26
7    8                                    TAN CHOO SUAN       1,419,000   1.20
8    9                   PERFORMANCE INVESTMENT PTE LTD       1,404,000   1.18
9   10                             CHUA HOONG TAT FRANZ       1,336,000   1.13
10  11                  ZEN PROPERTY MANAGEMENT PTE LTD       1,282,500   1.08
11  12  UNITED OVERSEAS BANK NOMINEES (PRIVATE) LIMITED       1,186,650   1.00
12  13                     NEW TOWN DEVELOPMENT PTE LTD         826,000   0.70
13  14                                  LIM CHER KHIANG         800,082   0.67
14  15                                    SON FONG MENG         756,000   0.64
15  16          OCBC NOMINEES SINGAPORE PRIVATE LIMITED         733,000   0.62
16  17                                    KWOK HAE MENG         714,250   0.60
17  18                     LIM & TAN SECURITIES PTE LTD         644,100   0.54
18  19                     TAN CHOO HOON @TAN CHENG GAY         636,750   0.54
19  20                                        CHEN ENYI         620,000   0.52
20                                                TOTAL      96,033,754  80.96

./missed_out_pdf_files/uncleaned csv/ENGRO CORPORATION LIMITED shares.csv
True
file is closed
ENVIRO-HUB HOLDINGS LTD.
./missed_out_pdf_files/ENVIRO-HUB HOLDINGS LTD._2018_Annual_Report.pdf

[['TWENTY', 'LARGEST', 'SHAREHOLDERS'], ['TOP', '20', 'SHAREHOLDERS'], ['TOP', 'TWENTY', 'SHAREHOLDERS'], ['20', 'LARGEST', 'SHAREHOLDERS'], ['TWENTY', 'LARGEST', 'UNITHOLDERS'], ['20', 'LARGEST', 'UNITHOLDERS'], ['TOP', 'TWENTY', 'UNITHOLDERS'], ['TOP', '20', 'UNITHOLDERS'], ['', 'MAJOR', 'SHAREHOLDERS']]

..............

page : 121 /139page 122
The words was found 4 times in total
table found
search col
search col
search col
search col
search col
unable to find index
table found
search col
search col
have name
index : 1
search col
index : 1
search col
index : 1
start cleaning

0  NO.                                             NAME NO. OF SHARES      %
0    1                                        NG AH HUA   212,342,864  20.54
1    2              HONG LEONG FINANCE NOMINEES PTE LTD   200,464,800  19.39
2    3                                   SEOW BAO SHUEN    82,838,025   8.01
3    4              CITIBANK NOMINEES SINGAPORE PTE LTD    79,311,886   7.67
4    5                                     SU MING TONG    51,841,076   5.01
5    6                                      HUANG YUZHU    45,500,000   4.40
6    7                                    UNG YOKE HOOI    35,960,000   3.48
7    8                                    CHEW GHIM BOK    32,538,333   3.15
8    9                                      TAN TAI KIM    27,552,500   2.67
9   10                   DBS NOMINEES (PRIVATE) LIMITED    24,741,292   2.39
10  11             MAYBANK KIM ENG SECURITIES PTE. LTD.    11,686,060   1.13
11  12                                    NG CHUEN GUAN    10,137,549   0.98
12  13                      LOH PENG LING (LU PINGLING)     8,833,554   0.85
13  14                                    ONG CHEE KANG     8,195,625   0.79
14  15                                   LOW HWEE THENG     7,987,000   0.77
15  16                                       NG SOK ENG     5,480,000   0.53
16  17  UNITED OVERSEAS BANK NOMINEES (PRIVATE) LIMITED     4,309,007   0.42
17  18                      QUEK BENG WEE (GUO MINGWEI)     4,158,800   0.40
18  19                     UOB KAY HIAN PRIVATE LIMITED     3,962,332   0.38
19  20                                    TAN SUNG SUNG     3,727,333   0.36
20                                                TOTAL   861,568,036  83.32

./missed_out_pdf_files/uncleaned csv/ENVIRO-HUB HOLDINGS LTD. shares.csv
True
file is closed
ESR FUNDS MANAGEMENT (S) LIMITED
./missed_out_pdf_files/ESR FUNDS MANAGEMENT (S) LIMITED_2018_Annual_Report.pdf

[['TWENTY', 'LARGEST', 'SHAREHOLDERS'], ['TOP', '20', 'SHAREHOLDERS'], ['TOP', 'TWENTY', 'SHAREHOLDERS'], ['20', 'LARGEST', 'SHAREHOLDERS'], ['TWENTY', 'LARGEST', 'UNITHOLDERS'], ['20', 'LARGEST', 'UNITHOLDERS'], ['TOP', 'TWENTY', 'UNITHOLDERS'], ['TOP', '20', 'UNITHOLDERS'], ['', 'MAJOR', 'SHAREHOLDERS']]

..............

page : 191 /230

'9. INTEREST-BEARING BORROWINGS (CONT™D)THE NOMINAL INTEREST RATE FOR THE S$ ˚OATING RATE LOANS IS DETERMINED BY A MARGIN PLUS SOR PER ANNUM.AS AT THE REPORTING DATE, THE GROUP HAS IN PLACE UNSECURED BORROWINGS COMPRISING:(A) TERM LOANS AND REVOLVING CREDIT FACILITIES(I) 4-YEAR $150 MILLION LOAN FACILITY FROM CIMB MATURING IN JUNE 2019 (FITLF1FL) CONSISTING OF: Ł FACILITY A: $100 MILLION TERM LOAN FACILITY AT A ˜XED RATE OF 3.6% PER ANNUM FOR 3.5 YEARS FROM THE DATE OF LOAN DRAWN DOWN; AND Ł FACILITY B: $50 MILLION REVOLVING CREDIT FACILITY AT AN INTEREST RATE OF MARGIN PLUS SWAP OFFER RATE. (II) 4.75-YEAR $200 MILLION LOAN FACILITY FROM HSBC MATURING IN JUNE 2021 (FITLF2FL) CONSISTING OF: Ł FACILITY A: $25 MILLION TERM LOAN FACILITY AT AN INTEREST RATE OF MARGIN PLUS SWAP OFFER RATE FOR 4.75 YEARS FROM THE DATE OF LOAN DRAWN DOWN; AND Ł FACILITY B: $175 MILLION REVOLVING CREDIT FACILITY AT AN INTEREST RATE OF MARGIN PLUS SWAP OFFER RATE. (III) LOAN FACILITY OF $700 MILLION FROM A SYNDICATE OF FOUR BANKS, UOB, HSBC, MBB AND RHB (FITLF3FL) CONSISTING OF:Ł FACILITY A: $160 MILLION TERM LOAN FACILITY MATURING IN OCTOBER 2021 AT AN INTEREST RATE OF MARGIN PLUS SWAP OFFER RATE;Ł FACILITY B: $180 MILLION TERM LOAN FACILITY MATURING IN OCTOBER 2022 AT AN INTEREST RATE OF MARGIN PLUS SWAP OFFER RATE;Ł FACILITY C: $160 MILLION TERM LOAN FACILITY MATURING IN OCTOBER 2023 AT AN INTEREST RATE OF MARGIN PLUS SWAP OFFER RATE; ANDŁ FACILITY D: $200 MILLION REVOLVING CREDIT FACILITY MATURING IN OCTOBER 2019 AT AN INTEREST RATE OF MARGIN PLUS SWAP OFFER RATE.(IV) 5-YEAR $100 MILLION LOAN FACILITY FROM BNP MATURING IN OCTOBER 2023 (FITLF4FL) CONSISTING OF $100 MILLION TERM LOAN FACILITY AT AN INTEREST RATE OF MARGIN PLUS SWAP OFFER RATE. AS AT 31 DECEMBER 2018, THE TOTAL AMOUNT OUTSTANDING UNDER THE TERM LOAN AND REVOLVING CREDIT FACILITIES WERE $725.0 MILLION AND $342.6 MILLION RESPECTIVELY.188'

['9.',
 'INTEREST-BEARING',
 'BORROWINGS',
 '(CONT™D)THE',
 'NOMINAL',
 'INTEREST',
 'RATE',
 'FOR',
 'THE',
 'S$',
 '˚OATING',
 'RATE',
 'LOANS',
 'IS',
 'DETERMINED',
 'BY',
 'A',
 'MARGIN',
 'PLUS',
 'SOR',
 'PER',
 'ANNUM.AS',
 'AT',
 'THE',
 'REPORTING',
 'DATE,',
 'THE',
 'GROUP',
 'HAS',
 'IN',
 'PLACE',
 'UNSECURED',
 'BORROWINGS',
 'COMPRISING:(A)',
 'TERM',
 'LOANS',
 'AND',
 'REVOLVING',
 'CREDIT',
 'FACILITIES(I)',
 '4-YEAR',
 '$150',
 'MILLION',
 'LOAN',
 'FACILITY',
 'FROM',
 'CIMB',
 'MATURING',
 'IN',
 'JUNE',
 '2019',
 '(FITLF1FL)',
 'CONSISTING',
 'OF:',
 'Ł',
 'FACILITY',
 'A:',
 '$100',
 'MILLION',
 'TERM',
 'LOAN',
 'FACILITY',
 'AT',
 'A',
 '˜XED',
 'RATE',
 'OF',
 '3.6%',
 'PER',
 'ANNUM',
 'FOR',
 '3.5',
 'YEARS',
 'FROM',
 'THE',
 'DATE',
 'OF',
 'LOAN',
 'DRAWN',
 'DOWN;',
 'AND',
 'Ł',
 'FACILITY',
 'B:',
 '$50',
 'MILLION',
 'REVOLVING',
 'CREDIT',
 'FACILITY',
 'AT',
 'AN',
 'INTEREST',
 'RATE',
 'OF',
 'MARGIN',
 'PLUS',
 'SWAP',
 'OFFER',
 'RATE.',
 '(II)',
 '4.75-YEAR',
 '$200',
 'MILLION',
 'LOAN',
 'FACILITY',
 'FROM',
 'HSBC',
 'MATURING',
 'IN',
 'JUNE',
 '2021',
 '(FITLF2FL)',
 'CONSISTING',
 'OF:',
 'Ł',
 'FACILITY',
 'A:',
 '$25',
 'MILLION',
 'TERM',
 'LOAN',
 'FACILITY',
 'AT',
 'AN',
 'INTEREST',
 'RATE',
 'OF',
 'MARGIN',
 'PLUS',
 'SWAP',
 'OFFER',
 'RATE',
 'FOR',
 '4.75',
 'YEARS',
 'FROM',
 'THE',
 'DATE',
 'OF',
 'LOAN',
 'DRAWN',
 'DOWN;',
 'AND',
 'Ł',
 'FACILITY',
 'B:',
 '$175',
 'MILLION',
 'REVOLVING',
 'CREDIT',
 'FACILITY',
 'AT',
 'AN',
 'INTEREST',
 'RATE',
 'OF',
 'MARGIN',
 'PLUS',
 'SWAP',
 'OFFER',
 'RATE.',
 '(III)',
 'LOAN',
 'FACILITY',
 'OF',
 '$700',
 'MILLION',
 'FROM',
 'A',
 'SYNDICATE',
 'OF',
 'FOUR',
 'BANKS,',
 'UOB,',
 'HSBC,',
 'MBB',
 'AND',
 'RHB',
 '(FITLF3FL)',
 'CONSISTING',
 'OF:Ł',
 'FACILITY',
 'A:',
 '$160',
 'MILLION',
 'TERM',
 'LOAN',
 'FACILITY',
 'MATURING',
 'IN',
 'OCTOBER',
 '2021',
 'AT',
 'AN',
 'INTEREST',
 'RATE',
 'OF',
 'MARGIN',
 'PLUS',
 'SWAP',
 'OFFER',
 'RATE;Ł',
 'FACILITY',
 'B:',
 '$180',
 'MILLION',
 'TERM',
 'LOAN',
 'FACILITY',
 'MATURING',
 'IN',
 'OCTOBER',
 '2022',
 'AT',
 'AN',
 'INTEREST',
 'RATE',
 'OF',
 'MARGIN',
 'PLUS',
 'SWAP',
 'OFFER',
 'RATE;Ł',
 'FACILITY',
 'C:',
 '$160',
 'MILLION',
 'TERM',
 'LOAN',
 'FACILITY',
 'MATURING',
 'IN',
 'OCTOBER',
 '2023',
 'AT',
 'AN',
 'INTEREST',
 'RATE',
 'OF',
 'MARGIN',
 'PLUS',
 'SWAP',
 'OFFER',
 'RATE;',
 'ANDŁ',
 'FACILITY',
 'D:',
 '$200',
 'MILLION',
 'REVOLVING',
 'CREDIT',
 'FACILITY',
 'MATURING',
 'IN',
 'OCTOBER',
 '2019',
 'AT',
 'AN',
 'INTEREST',
 'RATE',
 'OF',
 'MARGIN',
 'PLUS',
 'SWAP',
 'OFFER',
 'RATE.(IV)',
 '5-YEAR',
 '$100',
 'MILLION',
 'LOAN',
 'FACILITY',
 'FROM',
 'BNP',
 'MATURING',
 'IN',
 'OCTOBER',
 '2023',
 '(FITLF4FL)',
 'CONSISTING',
 'OF',
 '$100',
 'MILLION',
 'TERM',
 'LOAN',
 'FACILITY',
 'AT',
 'AN',
 'INTEREST',
 'RATE',
 'OF',
 'MARGIN',
 'PLUS',
 'SWAP',
 'OFFER',
 'RATE.',
 'AS',
 'AT',
 '31',
 'DECEMBER',
 '2018,',
 'THE',
 'TOTAL',
 'AMOUNT',
 'OUTSTANDING',
 'UNDER',
 'THE',
 'TERM',
 'LOAN',
 'AND',
 'REVOLVING',
 'CREDIT',
 'FACILITIES',
 'WERE',
 '$725.0',
 'MILLION',
 'AND',
 '$342.6',
 'MILLION',
 'RESPECTIVELY.188']

page : 229 /230
..............

page : 76 /230page 77
The words was found 5 times in total
table found
search col
search col
unable to find index
page : 84 /230page 85
The words was found 7 times in total
table found
search col
search col
have name
index : 30
start cleaning

,"FINANCIALS SUCH AS TALENT MANAGEMENT, OCCUPANCY RATE AND RISK",THE CEO ON A NAMED BASIS WITH A BREAKDOWN (IN PERCENTAGE
0,MANAGEMENT AND CONTROL PROCESSES. LINKING STI ...,OR DOLLAR TERMS) OF EACH DIRECTOR’S AND THE CE...
1,MANAGER CORPORATE SCORECARD HELPS TO ACHIEVE S...,"EARNED THROUGH BASE/FIXED SALARY, VARIABLE OR ..."
2,OF ESR-REIT WHICH ARE ALIGNED TO THE INTERESTS...,"INCOME/BONUSES, BENEFITS-IN-KIND, STOCK OPTION..."
3,,"BASED INCENTIVES AND AWARDS, AND OTHER LONG-TE..."
4,GIVEN THE GROWTH PROFILE AND FOOTPRINT OF ESR-...,(II) THE REMUNERATION OF AT LEAST THE TOP FIVE...
5,TRANSACTIONS WILL LIKELY BE A KEY FEATURE OF E...,OFFICERS (WHO ARE NEITHER DIRECTORS NOR THE CE...
6,PLAN. STRATEGIC TRANSACTIONS E.G. MERGERS & AC...,"S$250,000, WITH A BREAKDOWN (IN PERCENTAGE OR ..."
7,OTHER TRANSFORMATIONAL DEALS CAN BE LONG-GESTA...,OF EACH KEY EXECUTIVE OFFICER’S REMUNERATION E...
8,AND RESOURCE CONSUMING WHICH REQUIRES SPECIAL ...,"BASE/FIXED SALARY, VARIABLE OR PERFORMANCE-REL..."
9,CARE AND OFTEN OUT OF OFFICE WORKING HOURS SAC...,"BONUSES, BENEFITS-IN-KIND, STOCK OPTIONS GRANT..."
10,"SAME TIME, STAFF ARE STILL HANDLING THE DAILY ...","INCENTIVES AND AWARDS, AND OTHER LONG-TERM INC..."
11,"(“BAU”) ACTIVITIES. WITHIN THE STI COMPONENT, ...",(III) THE AGGREGATE TOTAL REMUNERATION PAID TO...
12,BONUS POOL (“ABP”) IS INCLUDED TO REWARD EMPLO...,EXECUTIVE OFFICERS (WHO ARE NEITHER DIRECTORS ...
13,INVOLVED IN SUCH TRANSACTIONS. ONCE THE STAFF ...,"THE EVENT OF NON-DISCLOSURE, THE MANAGER IS AL..."
14,"ABP, ONE-THIRD OF THE AWARD WILL BE VESTED ANN...",PROVIDE REASONS FOR SUCH NON-DISCLOSURE.
15,EMPLOYEES REMAIN IN EMPLOYMENT WITH THE MANAGER.,

./missed_out_pdf_files/uncleaned csv/ESR FUNDS MANAGEMENT (S) LIMITED shares.csv
True
file is closed
['ELEC & ELTEK INTERNATIONAL COMPANY LIMITED.']

save errors in a list

In [17]:
print(len(unable_to_find_list))
if not os.path.isdir('errors'):
    os.makedirs('errors')
df = pd.DataFrame()
df["Unable to crawl from pdf companies"] = unable_to_find_list
# df.to_csv("./errors/crawl_from_pdf_fail.csv", index = False)

195

<div class="alert alert-block alert-info">
<b>Tried to Do:</b> 
Tried to write a script to move the unextracted file,but due to pdf extraction not being able to achieve 100% accuracy as each pdf is different,the script could cause more harm than good.</div>